.text-white{
	color: #F4F5F9;
}
.bg-plomo{
	background-color: #26232C;
}
.bg-white{
	background-color: #F4F5F9;
}
.pt-1{
	padding-top: 1%
}
.pb-1{
	padding-bottom: 1%;
}
.pt-2{
	padding-top: 2%
}
.pb-2{
	padding-bottom: 2%;
}
.pt-3{
	padding-top: 3%
}
.pb-3{
	padding-bottom: 3%;
}
.pt-4{
	padding-top: 4%
}
.pb-4{
	padding-bottom: 4%;
}

